body {

background: #f7f7f7;
font-family: Sylfaen, Arial, Times New Roman;
margin: 0 0 0 0;
width: 100%;
height: 100%;
}

a{
text-decoration: none;
color: blue;
}

a:hover{
text-decoration: none;
color: orangered;
}

.left{float:left}
.right{float:right}

.orange{
    background: #f39c12 !important;
}

.green{
    background: #00a65a !important;
}

.red{
    background: #dd4b39 !important;
}

.grey{
    background: #BEBEBE !important;
}

.blue{
    background: #2196f3 !important;
}

#topMenu{
width: 100%;
background: #EDEDED;
box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75); 
height: 60px;
position: fixed;
z-index: 999;
display: flex;
}



#contentBlock{
background:white;
min-height: calc(100vh - 81px);
flex-direction: column;
padding: 10px 10px 10px 10px;
width: 1200px;
margin: 0px auto;
display: table;

}

#footerBlock{
    width: 100%;
    height: 150px;
    background: #EDEDED;
    border-top: 1px solid #D9DEE4;
    left: 0;
    bottom: 0;
    position: relative;
}

.footTxt{
    float: left;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #73879C;
    padding: 20px 30px 0px 10px;
}

hr.style-two{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.current 
{
    border-bottom: 5px solid #43a047; 
    display:inline-block !important;
}


.tabs_block 
{
    background: white;
    padding: 7px 7px 7px 20px;
    margin-bottom: 10px;
    bottom: 70px;
    display:none;

    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    
    font-size: 13px;
    font-weight: bold;
}


.pulse {
    margin-top: 7px;
    display: inline-block;
    width: 300px;
    height: 50px;
    border-radius: 3px 3px;
    background: #ef3b3a;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(83,94,104);
    animation: pulse 2s infinite;
    text-align: center;
    vertical-align: middle;
    color: whitesmoke;
    line-height: 50px;
    letter-spacing: 2px;
    font-size: 18px;
}
.pulse:hover {
  animation: none;
  background: #009ec3;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(77, 144, 254, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(77, 144, 254, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(77, 144, 254, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(77, 144, 254, 0.4);
    box-shadow: 0 0 0 0 rgba(77, 144, 254, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(77, 144, 254, 0);
      box-shadow: 0 0 0 10px rgba(77, 144, 254, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(77, 144, 254, 0);
      box-shadow: 0 0 0 0 rgba(77, 144, 254, 0);
  }
}



.tab_1 {
    cursor: pointer;
    margin-top: -2px;
    display: inline-block;
    margin-left: 0px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.7;
    background: #eee;
    padding: 7px 18px 5px 18px;
    box-shadow: 0px 0px 2px grey;
}


.topButtExit{
    float: right;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 20px 10px 0px 5px;
}

.topButtExit{
    font-size: 12px;
    color: white;
    padding: 7px 7px 7px 17px;
    letter-spacing: 2px;
    border-radius: 2px 2px;
    background: #80b438;
    line-height: 1.5;
    margin: 13px 10px 0px 35px;
}

.topButtExit:hover{
    background: #90c843;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 200px;
  text-align: center;
  background: #000;
    margin-top: 50px;
    display: inline-block;
    margin-left: 75px;
    box-shadow: 0px 3px 5px grey;
}